
/*+++++++++++++++++++++++++++*/
     /* BASIC SETUP */
/*+++++++++++++++++++++++++++*/

*  {
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html  {
	background-color:#fff;
	color: #555;
	font-family: 'Lato', 'Arial', 'sans-serif';
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	background-image:linear-gradient(rgba(0,0,0,.74),rgba(0,0,0,.65)), url(images/friendsGroup.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}

div.modal #modal_ {
	background: url(images/friendsGeoup.jpg)
	margin: 25% auto;
}








/*


         <div id="modal_" class="modal">
                    <div class="modal-content">
                        <h4>Closest Friend Match</h4>
                        <button class="modal-action modal-close">&times;</button>
                        <div class="divider"></div>
                        <br>
                        <br>
                        <h5 id="bff-name"></h5>
                        <br>
                        <div class="container modal_container"> 
                        <img id="bff-image" src="">
                        </div>
                        <br>
                        <br>
                    </div>



*/
